version: '3.8'

services:
  mysql_db:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: mini-school
    ports:
      - "3306:3306"